.item-detail {
    h2 {
        font-size: 2em;
        margin-top: 0;
        margin-bottom: 20px;
    }

    p {
        font-size: 1.1em;
        margin-bottom: 10px;

        strong {
            font-weight: bold;
            margin-right: 10px;
        }
    }
}
